
:root{
    --light-gray: #F5F5F5;
    --button-shadow: #00000033;
    --button-collor: #f0eaf5;
    --pink-shadow: #BEA4EA;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    background-color: var(--light-gray);
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
}
.up{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.icon, 
.fa-brands, 
.more-btn{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.9em;
    cursor: pointer;
}
.fa-brands:hover{
    box-shadow: 2px 2px 5px 2px var(--button-shadow);
}
.fa-facebook-f:hover{
    background-color: #0571E7;
    color: white;
}
.fa-tiktok:hover{
    background-color: black;
    color: white;
}
.fa-x-twitter:hover{
    background-color: black;
    color: white;
}
.fa-youtube:hover{
    background-color: red;
    color: white;
}
.fa-instagram:hover{
    background: linear-gradient(
    240deg, 
    #8C39C0 0%,  
    #D82D78 50%, 
    #FEC763 100%);
    color: white;
}
#join-btn{
    padding: 0.6em 0.9em;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    background-color: var(--button-collor);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px var(--button-shadow);
}
#join-btn:hover, 
.nav-btn:hover, 
.download:hover,
.section-btn:hover,
.icon:hover, 
.more-btn:hover,
#see-all:hover,
#own-plan:hover,
.nutrition-btn:hover{
    background: linear-gradient(
    220deg,
    #b9a2fa 0%,
    #b0bcf8 100%);
    color: #ffffff;
    font-weight: bold;
    box-shadow: 2px 2px 5px 2px var(--button-shadow);
}
.more-btn{
    display: none;
}
#site-pic{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    240deg,
    #78c9fa 0%,
    #f599d5 100%);
}
#logo{
    height: 100%;
    width: auto;
}
nav{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
    margin-bottom: 4em;
}
.nav-btn{
    padding: 0.5em 0.8em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;
    font-size: 1rem;
}
.section{
    width: 100vw;
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;
}
.buttons{
    width: 1200px;
    height: auto;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: 1em;
}

.section-btn, 
.download, 
#see-all, 
#own-plan,
.nutrition-btn{
    padding: 0.6em 0.9em;
    border-radius: 15px;
    border: none;
    background-color: var(--button-collor);
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9rem;
    box-shadow: 1px 1px 1px 1px var(--button-shadow);
}
hr{
    width: 1200px;
    border-color: #80808028;
}

.box-content, .nutrition-box{
    background-color: var(--light-gray);
    border-radius: 25px;
    width: 1200px;
    height: 80%;
    box-shadow: 2px 2px 5px 3px var(--pink-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.content{
    height: 75%;
}
.text{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.text p{
    text-align: center;
    font-weight: 500;
    padding: 1em;
}
.pic{
    width: 40%;
    border-radius: 20px;  
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 5px 3px var(--pink-shadow);
}
.pic1{
    background-image: url(media/challenge.avif);
}
.pic2{
    background-image: url(media/abs.avif);
}
.pic3{
    background-image: url(media/weights.avif);
}
.download{
    padding: 1em 1.2em;
    font-size: 0.9rem;
    font-weight: bold;
}
.bi-download{
    padding-right: 0.6em;
}

#add{
    background-color: var(--light-gray);
    border-radius: 25px;
    width: 1200px;
    height: 180px;
    box-shadow: 2px 2px 5px 3px var(--pink-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: 4em;
}
#add-pic{
    height: 100%;
    border-radius: 25px;
    width: 30%;
    background-image: url(media/feedback.webp);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
}
#add-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 68%;
    text-align: center;
    position: absolute;
    right: 20px;
    gap: 0.7em;
    font-size: 0.9rem;
}
a{
    text-decoration: none;
    color: #8C39C0;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.feedback-btn{
    font-size: 0.8rem;
}
#p1{
    padding: 0 1em;
}
#p2{
    display: none;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    margin-bottom: 4em;
}
#category-text, #nutrition-text{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}
#category-text h2, #nutrition-text h2{
    padding-left: 1em;
}
#category-list{
    width: 1200px;
    height: 450px;
    padding: 1em 4em 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    mask-image: linear-gradient( 
       to right,
       rgba(0,0,0,0),
       rgba(0,0,0,1) 2%,
       rgba(0,0,0,1) 90%,
       rgba(0,0,0,0));
}
.card{
    height: 100%;
    width: 215px;
    flex: 0 0 215px;
    background-color: var(--light-gray);
    border-radius: 25px;
    box-shadow: 1px 1px 5px 3px var(--pink-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    scroll-snap-align: center;
}
.card-pic, 
.nutrition-pic{
    width: 100%;
    height: 70%;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
}
#see-all{
    white-space: nowrap;
}
.booty{
    background-image: url(media/other1.avif);
}
.no-eq{
    background-image: url(media/other2.avif);
}
.stretching{
    background-image: url(media/other4.avif);
}
.running{
    background-image: url(media/other7.jpg);
}
.arms{
    background-image: url(media/other3.avif);
}
.mobility{
    background-image: url(media/mobility.jpg);
}
.hiit{
    background-image: url(media/hiit.jpg);
}
.cardio{
    background-image: url(media/cardio.jpg);
}
.bands{
    background-image: url(media/bands.jpg);
}
.power{
    background-image: url(media/power.jpg);
}
.btn{
    padding: 0.6em 0.9em;
    border-radius: 15px;
    border: none;
    background-color: var(--button-collor);
    cursor: pointer;
    font-weight: 500;
    font-size: 0.8rem;
    box-shadow: 1px 1px 1px 1px var(--button-shadow);
}
.card-btn{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}
.card-text{
    margin-top: 1.5em;
}
.nutrition{
    height: 70vh;
}
.nutrition-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 90%;
}
#nutrition-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 90%;
}
.nutrition-box p{
    font-weight: 500;
    font-size: 1.1rem;
    width: 90%;
    text-align: center;
}
.nutrition-pic{
    height: 80%;
}
.dish-box{
    height: 100%;
    width: 23%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-gray);
    border-radius: 25px;
    box-shadow: 1px 1px 5px 3px var(--pink-shadow);
}
.nutrition-btn{
    margin-top: 2em;
}
.breakfast{
    background-image: url(media/nutrition1.webp);
}
.lunch{
    background-image: url(media/nutrition2.webp);
}
.dinner{
    background-image: url(media/nutrition3.avif);
}
.snacks{
    background-image: url(media/nutrition4.jpg);
}

footer{
    background-color: var(--light-gray);
    width: 100vw;
    height: 40vh;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3em 0;
}
.store{
    height: 30px;
    width: auto;
    cursor: pointer;
}
.footer-box, .follow{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.footer-box{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 3em;
}
.footer-content{
    display: flex;
    align-items: start;
    flex-direction: column;
}
small:hover{
    text-decoration: underline;
    cursor: pointer;  
}
.footer-title{
    margin-bottom: 0.5em;
    font-weight: 500;
}
.fc1{
    gap: 1em;
}
.follow{
    gap: 0.4em;
}
.app{
    width: 100%;
}










@media (max-width:1240px){
    .buttons,
    .box-content, 
    #add,
    .category,
    #category-text,
    .nutrition-box{
        width: 900px;
    }
    hr{
        width: 890px;
    }
    .text{
        width: 43%;
        gap: 2em;
    }
    .pic{
        width: 45%;
    }
    #add-pic{
        width: 28%;
    }
    #category-list{
        width: 900px;   
    }
    .card{
        height: 430px;
        width: 220px;
        flex: 0 0 220px; 
    }
    .card-btn{
        flex-wrap: wrap;
        row-gap: 0.5em;
        padding-left: 0.5em;
    }
    .card-text{
        font-size: 1em;
        margin-top: 1em;
    }

}
@media (max-width:940px){
    .buttons,
    .box-content,
    #add,
    .category,
    #category-text,
    #category-list,
    .nutrition-box{
        width: 650px;
    }
    .box-content{
        flex-direction: column;
        justify-content: space-around;
    }
    .buttons,
    #nutrition-list{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
        position: relative;
        padding: 0.9em;
        mask-image: linear-gradient( 
            to right,
            rgba(0,0,0,0),
            rgba(0,0,0,1) 2%,
            rgba(0,0,0,1) 90%,
            rgba(0,0,0,0));
        }
    .section-btn{
        scroll-snap-align: center;
        box-sizing: border-box;
        display: inline-flex;
        height: 35px;
        width: auto;
    }
    .box-cont1{
        padding-top: 2em;
    }
    .box-cont2{
        padding-bottom: 2em;
    }
    .section{
        height: 85vh;
    }
    hr{
        width: 650px;
    }
    .text{
        width: 90%;
    }
    .pic{
        width: 70%;
    } 
    .fa-angles-right{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0.2em;
    }
    .dish-box{
        width: 200px;
        flex: 0 0 200px;
        scroll-snap-align: center;
    }
    #nutrition-list{
        gap: 1.3em;
    }
    .nutrition-btn{
        margin-top: 1em;
    }
    .nutrition-box{
        gap: 1em;
    }
    .footer-box{
        gap: 2em;
        flex-wrap: wrap;
        row-gap: 0.2em;
    }
    footer{
        height: 45vh;
    }
    
}
@media (max-width:670px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav{
        flex-wrap: wrap;
        row-gap: 0;
        width: 425px;
    }
    .buttons{
        flex-wrap: wrap;
        width: 425px;
        padding: 0.2em;
        mask-image: none;
    }
    .box-content, 
    .section, 
    hr,
    .category,
    #category-text,
    #category-list,
    .nutrition-box,
    .footer-box{
        width: 425px;
    }
    .text{
        gap: 0.5em;
    }
    #add{
        width: 425px;
    }
    #add-pic{
        display: none;
    }
    #add-text{
        position: static;
        width: 100%;
        right: auto;
        left: auto;
        top: auto;
        bottom: auto;
        padding: 1em;
    }
    #p1{
        display: none;
    }
    #p2{
        display: block;
    }
    .nutrition{
        height: 75vh;
    }
    .dish-box{
        width: 210px;
        flex: 0 0 210px;
    }
    footer{
        padding: 2em 0;
        height: 50vh;
    }
    .link{
        height: 80%;
        row-gap: 1em;
    }
}
@media (max-width:582px){
    .social-icon{
        display: none;
    }
    .more-btn{
        display: flex;
    }
}
@media (max-width:425px){
    nav{
        width: 310px;
        gap: 0;
        padding: 0;
        row-gap: 0;
    }
    .box-content, 
    .buttons, 
    .section, 
    hr,
    #add,
    .category,
    #category-text,
    #category-list,
    .nutrition-box,
    .footer-box{
        width: 300px;
    }
    .pic-challenge{
        background-position: left;
    }
    .buttons{
        gap: 0.8em;
        padding: 5px 0px 10px 0px;
    }
    #nutrition-list{
        height: 60%;
    }
    #add{
        height: 200px;
    }
    footer{
        height: 70vh;
    }
    .link{
        height: 80%;
        gap: 3.3em;
        row-gap: 1em;
    }
    

}


